@import "bootstrap.less";



.hero-unit {
	
	padding:22px 30px;
}

h1 {
	
	margin-left: -2px;
}

.container-fluid {
	
	max-width: 620px;
	
	margin: auto;
}


header {
	
	margin: 0px 0px 20px;
	
	background-color: #FFC600;
	//border-top: 5px solid #FFC600;
	
	text-align: center;
	
	
	
	
	
	padding: 5px 10px 10px;
	
	.me {
		
		margin: 0px 70px 15px;
		padding: 5px 10px;
	}
	
			

	
	.nav {
		
		margin-left: -8px;
		
		a {
			
			color: black;
			&:hover {
				color: black;
			}
		}
	}
	
	p {
		
		font-size: 20px;
		line-height: 28px;
	}
		
	h1 {
		margin: 15px 0px 7px;
		font-size: 48px;
		line-height: 56px;
		
		font-weight: bold;
		
		
			
		a {
			color: black;
			
			&:hover {
				color: black;
			}
		}
		
		

	}
	
	
}

.me {
	
	background-color: white;
		
	
		
		margin-bottom: 10px;
		.border-radius(10px);
		
		h2 {
		
		font-size: 24px;
		line-height: 28px;
		font-weight: normal;
		
		margin: 10px 0px;
		}
	}

article {
	
	margin-bottom: 25px;
}

footer {
	margin-top: 20px;
	padding-top: 20px;
	
	border-top: 1px solid #EEE;
	
	.nav {
		margin-left: -12px;
	}
}


@media (max-width: 480px) { 

	header .me {
		
		margin: auto;
	}
}