	html, body {
        background: #eee;
        font-family: proxima-nova,sans-serif;
        
      }
      
    
      
      .content {
      background-color:#fff;
      text-align: center;
      
      
        padding: 20px
         }
		
			.badge {
				width: 73px;
				margin-right: 10px;
			
			}
			
			h1, h2, h3, h4 {
			font-family: crete-rounded-web,serif;
			
			  font-weight: normal
			}
			
			h1 {
			font-weight: 400;
			
			}
			
			h1 small {
				font-family: crete-rounded-web,serif;
			}
			
			
			h2 {
			margin-bottom: .5em;
			}
			
			header, footer {
				padding: 1em 0;
		

			}
			
			
			
			header .container {
			
		
			}
			
		 header h1 small {
			color:white;
			}
			
			header h1 {
				font-size: 3.2em;
			}
			
			footer {
			
			background-color:#eee;
			margin-top:0px;
			
			}
			
		.banner {
	background-color:#FFC600;
	

	padding: 20px;

        text-align: center;
        	-webkit-border-radius: 6px 6px 0 0;
           -moz-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
	
	}
	
	.banner h1 {
	font-size:3.2em;
	line-height: 1em;
	margin-bottom: .2em;
	}
	
	.banner h2 {
	font-size:1.3em;
	font-family: proxima-nova,sans-serif;
	line-height: 1.2em;
	}
	
	h4 small {
	font-size:0.8em;
	}
	
	
	#clients {
		-webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        
	
	}
	
/* Slider */

.flexslider {

max-width: 800px;
}


@media (max-width: 480px) { 

	.banner h1 {
	font-size:2.8em;
	}
	
	.banner {
		-webkit-border-radius: 0;
           -moz-border-radius:0;
                border-radius:0;
	}
	
	#clients {
	-webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        
	
	}
	
 }
		