<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Keith Mancuso</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/keith.css">

  <link rel="canonical" href="http://www.keithmancuso.com"/>
		
  <script type="text/javascript" src="//use.typekit.net/tky4ocx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
  
  
</head>
<body>
	
		<header>
			<div class="container-fluid">
				
				{% if craft.request.firstSegment == "" %}
				
					<h1>
						Keith Mancuso
					</h1>
					
					<div class="me">
						<h2>Partner at <a href="http://www.familiar-studio.com">Familiar</a> helping non-profits & small businesses manage their technology</h2>			
					</div>
				
				{% else %}
				
					<h1>
						<a href="/">Keith Mancuso</a>
					</h1>
					
				{% endif %}
		  
			</div>
			
			
		</header>
		
		<div class="container-fluid">
			{% block main %}{% endblock %}
	
	

			<footer>
				
				
				
				{% if craft.request.firstSegment != "" %}
					<div class="me">
						<h2>Partner at <a href="http://www.familiar-studio.com">Familiar Studio</a> helping non-profits & small businesses manage their technology</h2>			
					</div>
					<hr/>
				{% endif %}
				
				<div class="pull-right">
					<a href="http://www.buildwithcraft.com"><img src="/assets/builtwithcraft_red_2x.png" width="100px"/></a>
				</div>
				
				<ul class="nav nav-pills">
					<li><a href="http://www.familiar-studio.com">Familiar</a></li>
					<li><a href="http://www.twitter.com/keithmancuso">Twitter</a></li>
					<li><a href="/experience">Experience</a></li>
					<li><a href="mailto:keithmancuso@gmail.com">Contact</a></li>
				</ul>
	  
			</footer>



		</body>
</html>
