{% extends "_layout" %}
{% block main %}

	

				
					
				
				
				{% for entry in craft.entries.find({section: 'Blog', limit: '5'}) %}
					<article><h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
					
					{{ entry.body}}
					</article>
				{% endfor %}
					
					

{% endblock %}